.register-page{
  height: 100vh;
  // @import url("flex-center");
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container{
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      
      input{
        width: 28rem;
        height: 3.3rem;
        padding-inline: 1rem;
        border-radius: 1.2rem;
        box-shadow: none;
        border: none;
        outline: none;
        &:active, &:focus{
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
      button{
        width: 10rem;
        border-radius: 1rem;
      }
    }
  }
}